
body {
    overflow-x: hidden;
}


.pipe {
    position: relative;
    z-index: 1;
}

.pipe img {
    position: absolute;
    top: 230px;
    left: -200px;
    /* right: 40px; */
    bottom: 0;
    width: 30%; /* You can adjust the percentage or use a specific value */
}

.pipe-2{
    position: relative;
    z-index: 1;
}

.pipe-2 img {
    position: absolute;
    top: 700px;
    /* left: 940px; */
    right: 0px;
    bottom: 0;
    width: 40%; /* You can adjust the percentage or use a specific value */
}

.pipe-3{
    position: relative;
    z-index: 1;
}

.pipe-3 img {
    position: absolute;
    top: -100px;
    left: -280px;
    right: 0px;
    bottom: 0px;
    width: 30%; /* You can adjust the percentage or use a specific value */
}

.color{
    background: linear-gradient(to bottom, black 50%, gray 50%);
    border: 1px solid slategray; /* Add a border */
    border-radius: 8px; /* Add border-radius for rounded corners */
    padding: 10px; /* Add padding for spacing inside the li element */
    width: 100px; /* Set a width for the li element */
    text-align: center; /* Center the content */
  }

.round{
    font-size: 10px;
}

#menuBtn img {
    filter: invert(100%);
}

@media (max-width: 640px) {
  .gg {
    /* grid-template-columns: 1fr;
    padding-inline: 3%; */
    display: none;
  }
}


/* Responsive styles */
@media screen and (max-width: 991px) {
    .lg\\:flex {
        display: none !important;
    }

    .lg\\:hidden {
        display: flex !important;
    }
}

@media (max-width: 991px) {
    .txt {
        flex-direction: column; /* Center text for smaller screens */
    }
  
    .bbn {
      flex-direction: row; /* Align the list items vertically */
      align-items: center; /* Center the items horizontally */
    }
  
    .bbn li {
      margin-bottom: 10px; /* Add spacing between list items */
    }
  }
  
  
  @media (max-width: 991px) {
    .reso {
      flex-direction: column; /* Change to flex column for screens 991px and below */
      /* padding: 2%; */
    }

    .reso ul {
      padding: 5%;
    }

    .dir {
      display: flex;
      flex-direction: row; /* Align .dir elements in flex row */
      justify-content: space-between; 
      align-items: center; 
    } 
  
    .dir ul {
      margin-right: 20px; /* Add spacing between .dir ul elements */
    }

    .foot {
      display: flex;
      flex-direction: column;
      /* gap: 5%; */
      justify-content: center;
    }

    .rights {
      /* padding-inline: 30%; */
      display: flex;
      justify-content: center;
    }

    .policy {
      display: flex;
      justify-content: center;
    }

    .socials {
      display: flex;
      justify-content: center;
    }
  }


  @media (max-width: 764px) {
    .reso {
      flex-direction: column; /* Change to flex column for screens 991px and below */
      /* padding: 2%; */
    }

    .dir {
      display: flex;
      flex-direction: column; /* Align .dir elements in flex row */
      /* justify-content: space-between;  */
      align-items: flex-start; 
    } 
  
    /* .dir ul {
      margin-right: 20px; /* Add spacing between .dir ul elements */
  }

  /* Default styling for both sections */
.s1{
  display: block;
}

.s2{
  display: none;
}

/* Media query for screens between 1024px and 768px */
@media (max-width: 1024px) {
  .s1 {
    display: none;
  }
  .s2 {
    display: block;
  }
}

/* Media query for screens between 767px and 500px */
@media (max-width: 767px) {
  .s2 {
    display: none;
  }
  .s1 {
    display: block;
  }
}

/* Media query for screens between 499px and 0px */
@media (max-width: 499px) {
  .s2 {
    display: block;
  }
  .s1 {
    display: none;
  }
}

@media (max-width: 768px) {
  .hd {
    display: none;
  }
}

@media (max-width: 768px) {
  .hiddd {
    display: none;
  }
}


@media (max-width: 768px) {
  .it {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}