
body {
    overflow-x: hidden;
}


.pipe {
    position: relative;
    z-index: 1;
}

.pipe img {
    position: absolute;
    top: 230px;
    left: -200px;
    /* right: 40px; */
    bottom: 0;
    width: 30%; /* You can adjust the percentage or use a specific value */
}

.pipe-2{
    position: relative;
    z-index: 1;
}

.pipe-2 img {
    position: absolute;
    top: 700px;
    /* left: 940px; */
    right: 0px;
    bottom: 0;
    width: 40%; /* You can adjust the percentage or use a specific value */
}

.pipe-3{
    position: relative;
    z-index: 1;
}

.pipe-3 img {
    position: absolute;
    top: -200px;
    left: -280px;
    right: 0px;
    bottom: 20px;
    width: 40%; /* You can adjust the percentage or use a specific value */
}

.color{
    background: linear-gradient(to bottom, black 50%, gray 50%);
    border: 1px solid slategray; /* Add a border */
    border-radius: 8px; /* Add border-radius for rounded corners */
    padding: 10px; /* Add padding for spacing inside the li element */
    width: 100px; /* Set a width for the li element */
    text-align: center; /* Center the content */
  }

.round{
    font-size: 10px;
}

#menuBtn img {
    filter: invert(100%);
}

/* Default styles for larger screens */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns by default */
    gap: 15px;
  }
  
  /* Media query for screens between 991px and 768px */
  @media (max-width: 991px) {
    .edit {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for screens between 991px and 768px */
    }

    .round{
        font-size: 8px;
    }
  }
  
  @media (max-width: 768px) {
    .edit {
      grid-template-columns: 1fr;
    }
    .round{
        font-size: 6px;
    }
  }

/* Responsive styles */
@media screen and (max-width: 991px) {
    .lg\\:flex {
        display: none !important;
    }

    .lg\\:hidden {
        display: flex !important;
    }
}

@media (max-width: 991px) {
    .txt {
        flex-direction: column; /* Center text for smaller screens */
    }
  
    .bbn {
      flex-direction: row; /* Align the list items vertically */
      align-items: center; /* Center the items horizontally */
    }
  
    .bbn li {
      margin-bottom: 10px; /* Add spacing between list items */
    }
  }
  

